n8n-Workflow-Github-Backup.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 19
              }
            ]
          }
        },
        "id": "66f1d868-3d2f-4d01-a44d-65a1683c60a2",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          1296,
          -192
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').item.json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').item.json.repo_name }}",
            "mode": "name"
          },
          "filePath": "=index.json",
          "fileContent": "{}",
          "commitMessage": "=Index (Created) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2144,
          -160
        ],
        "id": "6683f526-0831-457c-9b3d-9149b6aa72c4",
        "name": "Create Index File",
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $json.repo_name }}",
            "mode": "name"
          },
          "filePath": "index.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1696,
          -320
        ],
        "id": "ef2313ca-a8d4-4518-bd7e-72500c90a6bc",
        "name": "Get Download Url for Index File",
        "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "8643952a-3860-451c-96e3-4e4271c2bec0",
        "name": "Get Index File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1920,
          -336
        ],
        "typeVersion": 4.2,
        "retryOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
                "leftValue": "={{ $json.error }}",
                "rightValue": "=The resource you are requesting could not be found",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1920,
          -144
        ],
        "id": "b4d05bc7-36de-4cf3-9ff0-dac7faff26a2",
        "name": "Index File Not Found"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "452d7af0-1a81-4426-a171-0379eb83f575",
                "name": "repo_owner",
                "value": "your-github-username",
                "type": "string"
              },
              {
                "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
                "name": "repo_name",
                "value": "your-github-repository-name",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1504,
          -320
        ],
        "id": "f5544061-062b-4a5a-b98b-f8c274e78104",
        "name": "Set Github Data"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1296,
          -416
        ],
        "id": "dfd491c1-6c20-4c99-801a-867d5b1e6376",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2352,
          -160
        ],
        "id": "fb17c3b6-5501-4f1f-bd78-10b39d3cc135",
        "name": "Wait",
        "webhookId": "6d7f1445-a6c5-4ebb-bae3-a4ebbeed5f95"
      },
      {
        "parameters": {
          "filters": {
            "excludePinnedData": true
          },
          "requestOptions": {}
        },
        "id": "8d2a68af-641f-43ff-96c0-5e4d1a3d419f",
        "name": "Get All Workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          2128,
          -336
        ],
        "typeVersion": 1,
        "executeOnce": false,
        "retryOnFail": true,
        "alwaysOutputData": true,
        "credentials": {
          "n8nApi": {
            "id": "K60r3zn5x560PMdo",
            "name": "Github Backup"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// =======================\n// READ INPUTS\n// =======================\n\n// Current workflows from n8n\nconst workflows = $input.all()\n  .map(i => i.json)\n  .filter(w => w && typeof w.id === 'string' && typeof w.name === 'string');\n\nconst indexData = JSON.parse($('Get Index File Content').first()?.json?.data || '{}');\n\n// =======================\n// PREPARE STATE\n// =======================\n\nconst results = [];\nconst updatedIndex = { ...indexData };\n\n// Track only REAL workflow IDs from index\nconst existingIds = new Set(Object.keys(indexData));\n\n// =======================\n// STEP 1: CREATE / EDIT / RENAME\n// =======================\n\nfor (const workflow of workflows) {\n  const id = workflow.id;\n  const name = workflow.name || 'unnamed';\n  const path = `workflows/${name}.json`;\n\n  // -------- CREATE --------\n  if (!indexData[id]) {\n    updatedIndex[id] = { name, file_path: path };\n\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    continue;\n  }\n\n  // -------- RENAME --------\n  if (indexData[id].name !== name) {\n    // delete old file\n    results.push({\n      status: 'delete',\n      workflowId: id,\n      name: indexData[id].name,\n      path: indexData[id].file_path\n    });\n\n    // create new file\n    results.push({\n      status: 'create',\n      workflowId: id,\n      name,\n      path,\n      data: workflow\n    });\n\n    updatedIndex[id] = { name, file_path: path };\n    existingIds.delete(id);\n    continue;\n  }\n\n  // -------- EDIT --------\n  results.push({\n    status: 'edit',\n    workflowId: id,\n    name,\n    path: indexData[id].file_path,\n    data: workflow\n  });\n\n  existingIds.delete(id);\n}\n\n// =======================\n// STEP 2: DELETE REMOVED WORKFLOWS\n// =======================\n\nfor (const id of existingIds) {\n  results.push({\n    status: 'delete',\n    workflowId: id,\n    name: indexData[id].name,\n    path: indexData[id].file_path\n  });\n\n  delete updatedIndex[id];\n}\n\n// =======================\n// STEP 3: INDEX UPDATE (ONLY IF CHANGED)\n// =======================\n\nif (JSON.stringify(indexData) !== JSON.stringify(updatedIndex)) {\n  results.push({\n    status: 'index',\n    data: updatedIndex\n  });\n}\n\n// =======================\n// OUTPUT FOR N8N\n// =======================\n\nreturn results.map(r => ({ json: r }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2352,
          -336
        ],
        "id": "ca083a23-d014-4623-8375-a58ed5cc4a08",
        "name": "C,E,D Checker"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "={{ $json.name }} (Created) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2880,
          -608
        ],
        "id": "2ed6483e-158f-4865-aa19-8d9a6a9ad9a1",
        "name": "Create New Files",
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_name }}",
            "mode": "name"
          },
          "filePath": "index.json",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "=Index (Edited) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2880,
          -48
        ],
        "id": "61fedd05-149c-4257-9de2-5cc784009ade",
        "name": "Update Index File",
        "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2880,
          -448
        ],
        "id": "0df1da12-7855-43c5-a039-7f9ec057ca4f",
        "name": "Get Download Url for Github File",
        "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "create",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "97023852-faa0-4c13-91fc-7d080beae826"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Create"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ae9ec2ae-f5d7-47be-85a5-7c13cf4b6688",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "edit",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Edit"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "8f1e5618-6223-4ad3-afc8-b8e8d74b8f05",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Delete"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b548ed0b-878d-45da-80c7-28347fa3d555",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "index",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Update Index"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          2560,
          -368
        ],
        "id": "3b665fc8-6273-4223-ab7a-b1ab1cb524f8",
        "name": "Switch"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "commitMessage": "={{ $json.name }} (Deleted) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          2880,
          -224
        ],
        "id": "4ca08961-1c75-4d40-8f85-203ef0e5ce1c",
        "name": "Delete Files",
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "d9be1383-2cbe-467d-95b6-5193fd01080e",
        "name": "Get Github File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          3136,
          -448
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(i => ({\n  json: {\n    githubData: JSON.parse(i.json.data || '{}')\n  }\n}));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3360,
          -448
        ],
        "id": "a8b185c6-dd27-407a-8156-8fd3b10bbb65",
        "name": "Parse Github File Content"
      },
      {
        "parameters": {
          "jsCode": "const normalize = (obj) =>\n  JSON.stringify(obj, (_, value) =>\n    value && typeof value === 'object' && !Array.isArray(value)\n      ? Object.keys(value)\n          .sort()\n          .reduce((o, k) => {\n            o[k] = value[k];\n            return o;\n          }, {})\n      : value\n  );\n\nreturn $input.all()\n  .filter(item =>\n    normalize(item.json.githubData) !== normalize(item.json.data)\n  )\n  .map(item => {\n    const { githubData, ...rest } = item.json;\n    return { json: rest };\n  });"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3808,
          -432
        ],
        "id": "a54da607-6234-4661-960e-1954b72d28a9",
        "name": "File Edit Checker",
        "executeOnce": false,
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3584,
          -432
        ],
        "id": "a830aab5-48fe-4e9f-a836-6a70dce2d625",
        "name": "Merge Github & n8n File"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7f597ed3-ce0c-4830-97b8-3a07e9dda11f",
                "leftValue": "={{ $json.status !== null && $json.status !== undefined }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4032,
          -432
        ],
        "id": "623fafcc-e4c7-4643-bfde-6b618cb39bd7",
        "name": "If File Edited"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').first().json.repo_name }}",
            "mode": "name"
          },
          "filePath": "={{ $json.path }}",
          "fileContent": "={{ JSON.stringify($json.data, null, 2) }}",
          "commitMessage": "={{ $json.name }} (Edited) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          4256,
          -448
        ],
        "id": "00098dfc-2bc6-4492-9562-8122a536954f",
        "name": "Edit Files",
        "webhookId": "0cfd3844-d625-413e-9760-c352d50d4c79",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "content": "# n8n-Workflow-Github-Backup",
          "height": 1443,
          "width": 3590,
          "color": 7
        },
        "id": "23b09a8a-983f-477f-be9a-96fe59dca49f",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          864,
          -896
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 📋 WORKFLOW SUMMARY\n\n**Purpose:** Automatically backup n8n workflows to GitHub\n\n**Flow:**\n1. Trigger (Schedule/Manual)\n2. Get/Create index.json in GitHub\n3. Fetch all n8n workflows\n4. Compare with GitHub index\n5. Create/Edit/Delete files as needed\n6. Update index.json\n\n\n**Features:**\n- Daily automatic backups (7 PM) UTC\n- Detects new, edited, renamed, and deleted workflows\n- Maintains an index for tracking\n- Smart comparison to avoid unnecessary commits",
          "height": 416,
          "width": 512,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          320,
          -48
        ],
        "id": "81fe00c0-4469-4f57-a8e7-441b5619b754",
        "name": "Workflow Summary"
      },
      {
        "parameters": {
          "content": "## ⚙️ SETUP REQUIREMENTS\n\n**1️⃣ GitHub OAuth Credentials**\n- Go to *Credentials → New → GitHub OAuth2*\n- Create GitHub OAuth App:\n  - Settings → Developer settings → OAuth Apps\n  - Authorization callback URL: your n8n instance\n  - Enter Client ID & Secret in n8n\n\n\n**2️⃣ GitHub Repository**\n- Create a new repository (public/private)\n- Copy repository owner and name\n\n\n**3️⃣ Configure Workflow**\n- Edit \"Set Github Data\" node:\n  - `repo_owner`: your GitHub username\n  - `repo_name`: your repository name\n- Connect GitHub OAuth credentials to all GitHub nodes\n\n\n**4️⃣ n8n API Credentials**\n- Go to *Settings → API*\n- Create new API key\n- Add as n8n credential in workflow\n\n✅ Test manually before enabling schedule",
          "height": 608,
          "width": 500,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          320,
          -720
        ],
        "id": "8d64b719-713f-4f0c-9054-55707357fab2",
        "name": "Setup Requirements"
      },
      {
        "parameters": {
          "content": "## 🚀 TRIGGERS\n\n**Schedule Trigger:**\n- Runs daily at 7 PM (19:00)\n- Automated backup\n\n**Manual Trigger:**\n- Click \"Execute workflow\" to run immediately\n- Useful for testing or on-demand backups\n\nBoth triggers start the same workflow process.",
          "height": 312,
          "width": 332,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          896,
          -400
        ],
        "id": "b09f6a47-1f1d-4315-9dbe-1b4139864075",
        "name": "Triggers Info"
      },
      {
        "parameters": {
          "content": "## 📂 INDEX SYSTEM\n\n**index.json structure:**\n```json\n{\n  \"workflow_id_1\": {\n    \"name\": \"Workflow Name\",\n    \"file_path\": \"workflows/Workflow Name.json\"\n  },\n  \"workflow_id_2\": { ... }\n}\n```\n\n**Purpose:**\n- Tracks which workflows exist in GitHub\n- Maps workflow IDs to file paths\n- Enables detection of renames and deletes\n\n**First Run:**\n- If index.json doesn't exist, it's created automatically\n- 3-second wait allows file creation to complete",
          "height": 472,
          "width": 420,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1968,
          48
        ],
        "id": "3fd029b9-9573-4f10-b464-333728f5791a",
        "name": "Index System"
      },
      {
        "parameters": {
          "content": "## 🔍 C,E,D CHECKER\n\n**Compare & Decision Logic:**\n\nFor each n8n workflow:\n- **CREATE:** New workflow not in index\n- **RENAME:** Workflow name changed\n  - Deletes old file\n  - Creates new file with new name\n- **EDIT:** Existing workflow (checked later for actual changes)\n\n\nFor workflows in index but not in n8n:\n- **DELETE:** Workflow removed from n8n\n\n\nFor index itself:\n- **UPDATE INDEX:** If any changes detected\n\n**Output:** Array of actions to take",
          "height": 456,
          "width": 400,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2144,
          -832
        ],
        "id": "9ab1adc8-5de8-4eba-9128-aed991abae8c",
        "name": "C,E,D Checker Logic"
      },
      {
        "parameters": {
          "content": "## 🔀 SWITCH ROUTING\n\nRoutes items based on status:\n\n**Create Branch:**\n- New workflows → Create New Files\n\n\n**Edit Branch:**\n- Existing workflows → Smart edit check\n- Fetches GitHub version\n- Compares with n8n version\n- Only commits if actually different\n\n\n**Delete Branch:**\n- Removed workflows → Delete Files\n\n\n**Update Index Branch:**\n- Index changed → Update Index File\n\n\nEach branch processes independently.",
          "height": 496,
          "width": 360,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2464,
          32
        ],
        "id": "3e687dee-c761-4cfc-b7b0-301e414a0cf8",
        "name": "Switch Routing"
      },
      {
        "parameters": {
          "content": "## ✏️ SMART EDIT DETECTION\n\n**Why needed:**\n- n8n changes timestamps/metadata on save\n- Prevents unnecessary commits\n\n\n**Process:**\n1. Fetch current file from GitHub\n2. Parse both GitHub & n8n versions\n3. Normalize JSON (sort keys)\n4. Compare stringified versions\n5. Only commit if truly different\n\n\n**Benefits:**\n- Cleaner commit history\n- No spam commits\n- Saves GitHub API calls",
          "height": 428,
          "width": 380,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3792,
          -272
        ],
        "id": "fc8aa3ca-ab5b-463a-ba87-40a10e7486e1",
        "name": "Smart Edit Detection"
      },
      {
        "parameters": {
          "content": "## 📝 COMMIT MESSAGES\n\nAuto-generated commit messages:\n\n**Format:** `[Workflow Name] ([Action]) YYYY-MM-DD`\n\n**Examples:**\n- `My Workflow (Created) 2026-01-15`\n- `My Workflow (Edited) 2026-01-15`\n- `My Workflow (Deleted) 2026-01-15`\n- `Index (Edited) 2026-01-15`\n\n\n**Benefits:**\n- Clear action history\n- Easy to track changes\n- Searchable by date",
          "height": 404,
          "width": 360,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          3168,
          -224
        ],
        "id": "52fef552-2ada-4451-8909-08dcc301a6d2",
        "name": "Commit Messages"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Index File": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download Url for Index File": {
        "main": [
          [
            {
              "node": "Get Index File Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Index File Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Index File Content": {
        "main": [
          [
            {
              "node": "Get All Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Index File Not Found": {
        "main": [
          [
            {
              "node": "Create Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Github Data": {
        "main": [
          [
            {
              "node": "Get Download Url for Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Workflows": {
        "main": [
          [
            {
              "node": "C,E,D Checker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "C,E,D Checker": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download Url for Github File": {
        "main": [
          [
            {
              "node": "Get Github File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Create New Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Download Url for Github File",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge Github & n8n File",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Delete Files",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Github File Content": {
        "main": [
          [
            {
              "node": "Parse Github File Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Github File Content": {
        "main": [
          [
            {
              "node": "Merge Github & n8n File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Edit Checker": {
        "main": [
          [
            {
              "node": "If File Edited",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Github & n8n File": {
        "main": [
          [
            {
              "node": "File Edit Checker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If File Edited": {
        "main": [
          [
            {
              "node": "Edit Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "0cf1013c00750bfab7ca7f6a76bf0e8c2407d7a4a9a4e66c4888ec456837f043"
    }
  }