n8n-Workflow-Github-Backup.json
{
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 19
              }
            ]
          }
        },
        "id": "66f1d868-3d2f-4d01-a44d-65a1683c60a2",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          992,
          -192
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "={{ $('Set Github Data').item.json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $('Set Github Data').item.json.repo_name }}",
            "mode": "name"
          },
          "filePath": "=index.json",
          "fileContent": "{}",
          "commitMessage": "=Index (Created) {{ new Date().toISOString().split('T')[0] }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1840,
          -160
        ],
        "id": "6683f526-0831-457c-9b3d-9149b6aa72c4",
        "name": "Create Index File",
        "webhookId": "b1c00612-30d6-402d-a737-b9d06e473053",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "={{ $json.repo_owner }}",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "={{ $json.repo_name }}",
            "mode": "name"
          },
          "filePath": "index.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          1392,
          -320
        ],
        "id": "ef2313ca-a8d4-4518-bd7e-72500c90a6bc",
        "name": "Get Download Url for Index File",
        "webhookId": "6e7d3020-5558-4a80-9647-3c5a9de59a29",
        "retryOnFail": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "UBHtZxEV1OPvxU9F",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "8643952a-3860-451c-96e3-4e4271c2bec0",
        "name": "Get Index File Content",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1616,
          -336
        ],
        "typeVersion": 4.2,
        "retryOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "3e028766-cfb2-4464-9a97-b0845f082ed4",
                "leftValue": "={{ $json.error }}",
                "rightValue": "=The resource you are requesting could not be found",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1616,
          -144
        ],
        "id": "b4d05bc7-36de-4cf3-9ff0-dac7faff26a2",
        "name": "Index File Not Found"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "452d7af0-1a81-4426-a171-0379eb83f575",
                "name": "repo_owner",
                "value": "your-github-username",
                "type": "string"
              },
              {
                "id": "eed5e0e0-4a5e-4df9-adec-a266d175e40d",
                "name": "repo_name",
                "value": "your-repo-name",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1200,
          -320
        ],
        "id": "f5544061-062b-4a5a-b98b-f8c274e78104",
        "name": "Set Github Data"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          992,
          -416
        ],
        "id": "dfd491c1-6c20-4c99-801a-867d5b1e6376",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2048,
          -160
        ],
        "id": "fb17c3b6-5501-4f1f-bd78-10b39d3cc135",
        "name": "Wait",
        "webhookId": "6d7f1445-a6c5-4ebb-bae3-a4ebbeed5f95"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Index File": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download Url for Index File": {
        "main": [
          [
            {
              "node": "Get Index File Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Index File Not Found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Index File Content": {
        "main": [
          []
        ]
      },
      "Index File Not Found": {
        "main": [
          [
            {
              "node": "Create Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Github Data": {
        "main": [
          [
            {
              "node": "Get Download Url for Index File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Set Github Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "0cf1013c00750bfab7ca7f6a76bf0e8c2407d7a4a9a4e66c4888ec456837f043"
    }
  }